@model KhadimiEssa.Data.TableDb.AvailableTime

@{
    ViewData["Title"] = "Edit";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">تعديل</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsActive" />

                <div class="form-group">
                    <label asp-for="time" class="control-label">الوقت المتاح</label>
                    <input type="time" asp-for="time" class="form-control" />
                    <span asp-validation-for="time" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input value="حفظ" onclick="Validtion()" class="btn-new-style btn-rounded" />
                    <input type="submit" id="btnSave" value="حفظ" style="display:none;" class="btn-new-style btn-rounded" />
                </div>


                <div>
                    <a asp-action="Index" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



<script>

    function Validtion() {
        debugger;
        var flg = true;

        if ($("#time").val() == "") {
            toastr.error('من فضلك ادخل الوقت');
            $("#time").focus();
            flg = false;
            return false;
        }

        if (flg == true) {
            $("#btnSave").click();
        }
    }


</script>

}
