 body{
     direction: ltr;
     text-align: left;
 }


.link_footer h6:after,
.request_detals .the_title:after{
    right: unset;
    left: -10px}

.form-group .icon_fa{
    right: 10px;
    left: unset
}


.item_mass .time{
    margin-right: 0;
    margin-left: auto;
}

@media (max-width: 767.98px) {
    
    .heade_nav .nav {

        transform: translateX(-100%);
        right: unset;
        left: 0px
    }
    
    
    
}