@model KhadimiEssa.Data.TableDb.CarBrand

@{
    ViewData["Title"] = "Create";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">اضافة </h2>
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NameAr" class="control-label">الاسم بالعربية</label>
                    <input asp-for="NameAr" class="form-control" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameEn" class="control-label">الاسم بالانجليزية</label>
                    <input asp-for="NameEn" class="form-control" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input value="اضافة" type="button" onclick="Validtion()" class="btn-new-style btn-rounded" />
                    <input type="submit" id="btnSave" value="اضافة" style="display:none;" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="Index" asp-route-id="@ViewBag.ProviderId" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function Validtion() {
            debugger;
            var flg = true;


            if ($("#NameAr").val() == "") {
                toastr.error('من فضلك ادخل الاسم بالعربية');
                $("#NameAr").focus();
                flg = false;
                return false;
            }

            if ($("#NameEn").val() == "") {
                toastr.error('من فضلك ادخل الاسم بالانجليزية');
                $("#NameEn").focus();
                flg = false;
                return false;
            }


            if (flg == true) {
                $("#btnSave").click();
            }
        }


    </script>


}
